<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_example_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root12345</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!--<mapping class="org.curd.entity.Employee"/>-->
        <!--<mapping class="ManyToMany.entity.Employee"/>
        <mapping class="ManyToMany.entity.Address"/>-->
        <!-- <mapping class="HQL.entity.Employee"/>-->
        <!--<mapping class="HQL.entity.EmployeeBackup"/>
        <mapping class="HQL_JOINS.entity.Employee"/>
        <mapping class="HQL_JOINS.entity.Address"/>-->
        <!--<mapping class="NamedQuery.entity.Employee"/>
        <mapping class="NamedQuery.entity.Department"/>
        <mapping class="NamedQuery.entity.Person"/>-->
        <mapping class="Cretria.entity.Employee"/>
    </session-factory>
</hibernate-configuration>